<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:#0B610B;
    color:black;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:100px;
    float:right;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
</style>
</head>
<body>

<header>
<h1>about Cthulhu</h1>
</header>

<nav>
History<br>
Witnesses<br>
Sacrifices<br>
<%= link_to 'Home', root_path %>
</nav>

<table style="width:85%">
  <tr>
    <th>about Cthuhlhu</th>
    <td>"A monster of vaguely anthropoid outline, but with an octopus-like head whose
face was a mass of feelers, a scaly, rubbery-looking body, prodigious claws on 
hind and fore feet, and long, narrow wings behind." Cthulhu has been described 
as a mix between a giant octopus, a man, and a dragon, hundreds of meters tall, 
with webbed human-looking arms and legs and a pair of rudimentary wings on its 
back. Cthulhu's head is depicted as similar to the entirety of a gigantic 
octopus, with an unknown number of tentacles surrounding its supposed mouth.</td>		
    <td><a href="http://www.cthulhu.org/">
   <img src="http://img02.deviantart.net/f929/i/2014/167/1/5/cthulhu_rises_by_silberius-d7mlm8d.jpg" alt="Cthulhu" style="width:400px;height:300px;"></a>
  </td>
  </tr>
  <tr>
    <th>More</th>
    <td>Deep beneath the Pacific Ocean, entombed within the strange stone city of R'lyeh, lies dormant a being of unimaginable power. To even look upon his form may cost you your sanity. He has lain beneath the waters for eons, and will continue to do so until the stars align, whereupon he will awaken and reclaim dominion over the Earth.</td>		
    <td><a href="http://www.goodreads.com/quotes/tag/cthulhu"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Cthulhu_sketch_by_Lovecraft.jpg" alt="Your browser is stupid" style="width:300px;height:400px;"></a></td>
  </tr>
</table>

<footer>
from the mind of HP Lovecraft
</footer>

</body>
</html>
