<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:#0B610B;
    color:black;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:100px;
    float:right;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
</style>
</head>
<body>

<header>
<h1>Cthulhu's Lair<br>
    <small>Practice site</small></h1>
</header>

<nav>
History<br>
Witnesses<br>
Sacrifices<br>
<%= link_to 'About', about_path %>
</nav>

<table style="width:85%">
  <div class="w3-row w3-container">
  <tr>
      <th>Cthulhu</th>
      <td>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn, <br>"In his house 
      at R'lyeh, dead Cthulhu waits dreaming."</td>
      <td><a href="https://cthulhuforamerica.com/">
        <img src="http://vignette1.wikia.nocookie.net/engelpedia/images/9/9e/Cthulhu.png/revision/latest?cb=20120809205823&path-prefix=de" alt="Cthulhu" 
          style="width:300px;height:300px;">
      </a></td>
      
  </tr>
  
  <tr>
      <th>R'lyeh</th>
      <td>The nightmare corpse-city of R'lyeh…was built in measureless eons behind
      history by the vast, loathsome shapes that seeped down from the dark stars. 
      There lay great Cthulhu and his hordes, hidden in green slimy vaults.
<br> 
<br>
     — H. P. Lovecraft, "The Call of Cthulhu" (1928)
<br>
<br>
    R'lyeh is located at 47°9′S 126°43′WCoordinates: 47°9′S 126°43′W in the southern Pacific Ocean.
    </td>
    
    <td><a href="http://www.cthulhu.org/cthulhu/">
        <img src="http://static.comicvine.com/uploads/original/11124/111243008/4706154-cthulhu.jpg" style="width:300px;height:300px:"
    </a></td>
  </tr>
  </div>
</table>

<footer>
from the mind of HP Lovecraft
</footer>

</body>
</html>

